<h1>Countries</h1>
<% @countries.each do |country| %>
<a href="countries/<%= country.id %>">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("#{country.name.downcase}.jpg")%>">
    <%= country.name %>
  </div>
</a>
<% end %>
